<!DOCTYPE html>
<html>
<head>
	<title>trackit</title>
</head>
<body>
{% block header %}<h1><a href="{{ baseUrl() }}">trackit</a></h1>{% endblock %}
{% if flash.error %}
<p>{{ flash.error }}</p>
{% endif %}
{% block content %}{% endblock %}
</body>
</html>
